Node-RED/node_red_nt.json
[
    {
        "id": "0ad5aba4859d3da6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "878e7658a58388d0",
        "type": "function",
        "z": "0ad5aba4859d3da6",
        "name": "function 1",
        "func": "var clientID = null\nvar rssi = null\nvar yaw = null\nvar ult_dist = null\nvar batt = null\n\n// Client ID\nif (msg.payload[0] == 0x00) {\n    clientID = { payload: msg.payload[0] }\n}\n// RSSI\nif (msg.payload[1] == 0x21) {\n    rssi = { payload: msg.payload[2] & 0x80 ? -((msg.payload[2]^0xff) +1) : msg.payload[2] }\n}\n\n// Yaw \nif (msg.payload[1] == 0x1f) {\n    if (msg.payload[2] == 0x0) {\n        var raw_yaw = ((msg.payload[3] << 8) | msg.payload[4]) / 32767.0\n        yaw = {payload: (raw_yaw&0x800 ? -((raw_yaw^0xffff)+1) : raw_yaw)*180.0}\n            }\n\n    // Battery\n   else if (msg.payload [2] == 0x5)\n        batt = { payload: msg.payload[3]}\n\n    // Ult distance \n    else if (msg.payload[2] == 0x2) {\n        ult_dist = { payload: (((msg.payload[3] << 8) | msg.payload[4]) / 32767.0) * 300.0 }\n    }\n}\n// IP Address \n\nconsole.log([clientID, rssi, yaw, batt, ult_dist])\nreturn [clientID, rssi, yaw, batt, ult_dist]\n\n",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 360,
        "wires": [
            [
                "9a3dc817087bc320"
            ],
            [
                "4970010afefb0423"
            ],
            [
                "44a238bec1d33c26"
            ],
            [
                "f4bd769a9c13b7eb"
            ],
            [
                "009010be9c67e98e"
            ]
        ]
    },
    {
        "id": "7e80e114a46074a1",
        "type": "mqtt in",
        "z": "0ad5aba4859d3da6",
        "name": "/rc/com",
        "topic": "/rc/com",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6d392fde984ef14e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 180,
        "wires": [
            [
                "878e7658a58388d0",
                "3701cdf4785db257"
            ]
        ]
    },
    {
        "id": "4970010afefb0423",
        "type": "ui_chart",
        "z": "0ad5aba4859d3da6",
        "name": "",
        "group": "da9a7247b9a35798",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "RSSI ",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "-100",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "20",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#669c35",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "44a238bec1d33c26",
        "type": "ui_chart",
        "z": "0ad5aba4859d3da6",
        "name": "",
        "group": "da9a7247b9a35798",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Yaw",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "-200",
        "ymax": "200",
        "removeOlder": "1",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0433ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "009010be9c67e98e",
        "type": "ui_chart",
        "z": "0ad5aba4859d3da6",
        "name": "",
        "group": "da9a7247b9a35798",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Ultrasonic distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": 1,
        "removeOlderPoints": "40",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#008cb4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "f4bd769a9c13b7eb",
        "type": "ui_chart",
        "z": "0ad5aba4859d3da6",
        "name": "",
        "group": "da9a7247b9a35798",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Battery ",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#caf0fe",
            "#0433ff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3701cdf4785db257",
        "type": "debug",
        "z": "0ad5aba4859d3da6",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "9a3dc817087bc320",
        "type": "ui_text",
        "z": "0ad5aba4859d3da6",
        "group": "da9a7247b9a35798",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "clientID",
        "label": "ClientID: ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "6d392fde984ef14e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da9a7247b9a35798",
        "type": "ui_group",
        "name": "",
        "tab": "1552ed9f70c07889",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1552ed9f70c07889",
        "type": "ui_tab",
        "name": "GUI Table",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]